#header {
    &_home {
        .header_home_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 18px;

            .header_logo {
                position: relative;

                .logo_item_pacpac {
                    position: absolute;
                    bottom: -10px;
                    left: -10px;
                }

                .logo_item_dot {
                    position: absolute;
                    bottom: 2px;
                    right: -7px;
                }
            }

            .header_home_ul {
                display: flex;
                align-items: center;
                margin-bottom: 0px;
                margin-right: 365px;

                .header_home_ul_item {
                    list-style: none;
                    margin: 0 5px;

                    a {
                        text-decoration: none;
                        color: $mainTextColor;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                    }
                }
            }

        }
    }
}


#main {
    &_section {

        .main_section_digitalProducts {
            margin-top: 110px;


            .main_section_digitalProducts__leftSideItem {
                .main_slogan_title__box {
                    position: relative;

                    .ellipse_left__top {
                        left: -17px;
                        position: absolute;
                        top: -16px;
                    }

                    .ellipse_left__bottom {
                        left: -17px;
                        position: absolute;
                        bottom: -16px;
                    }

                    .ellipse_right__top {
                        right: -17px;
                        position: absolute;
                        top: -16px;
                    }

                    .ellipse_right__bottom {
                        right: -17px;
                        position: absolute;
                        bottom: -16px;
                    }
                }

                .digitalProducts_paragraph {
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px;
                    margin-top: 40px;
                    /* 180% */
                }

                .main_slogan_title__box {
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 100px;
                    /* 166.667% */
                    letter-spacing: 0.2px;
                    color: $mainPinkColor;
                    border: 8px solid $mainPinkColor;
                    // position: relative;
                    padding: 10px;
                }

                .btnForm_button {
                    color: $white;
                    background-color: $mainPinkColor;
                    height: 40px;
                    border-radius: 12px;
                    box-shadow: none;
                    padding: 6px 40px;
                    text-align: center;
                    border: none;

                    p {
                        width: 100px;
                    }
                }

                .digitalProducts_btnForm {
                    display: flex;
                    align-items: center;

                    .introductionVideo {
                        display: flex;
                        align-items: center;
                        margin-left: 40px;

                        button {
                            gap: 10px;
                            background-color: $white;
                            border: none;

                            img {
                                width: 48px;
                                height: 48px;
                            }
                        }

                        p {
                            width: 200px;
                            margin-bottom: 0px;
                        }
                    }
                }
            }

            .main_section_digitalProducts__rightSideItem {
                position: relative;

                .img {
                    background-image: url('/src/assets/img/Artboard\ 1\ 2.png');
                    position: absolute;
                    width: 450px;
                    height: 438px;
                    top: -35px;
                    left: 0px;
                    flex-shrink: 0;
                    z-index: 1;
                }

                .rightSide_img_border {
                    top: 100px;
                    left: 68px;
                    position: absolute;
                    width: 331px;
                    height: 331px;
                    flex-shrink: 0;
                    border-radius: 531px;
                    background: rgba(244, 120, 207, 0.232);
                    border: 6px solid #706FE5;

                }

                .employment {
                    left: 163px;
                    background-color: $white;
                    border-radius: 9px;
                    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.10);
                    padding: 10px;
                    position: absolute;
                    top: 350px;
                    z-index: 1;
                    width: 239px;
                    height: 131px;
                    flex-shrink: 0;
                    text-align: center;
                    margin-right: 50px;

                    // .employees {


                    .employee {
                        margin-left: -25px;
                        margin-right: 2px;

                    }

                    // }
                }
            }
        }

        .main_section_companies {
            background-color: $companiesBgColor;
            text-align: center;
            margin-top: 210px;

            .main_section_companies__title {
                text-align: center;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                /* 120% */
                letter-spacing: 0.2px;
                text-transform: capitalize;
                // color: blue;
            }

            .main_section_companies__logos {
                img {
                    padding: 30px;
                }
            }
        }

        .main_section_worldClassProducts {
            background-color: rgba(112, 111, 229, 0.02);

            .worldClassProducts_title {
                padding: 0px 32px 0px 32px;

                span {
                    color: $mainTextColor;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 52px;
                    /* 130% */
                    letter-spacing: 0.2px;
                    text-transform: capitalize;
                }

                p {
                    color: $mainTextColor2;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px;
                    margin-bottom: 30px;
                    /* 180% */
                }
            }

            .products_leftSide {
                .product {
                    padding: 10px 10px 0px 10px;

                    .product_photo {

                        img {
                            border-radius: 30px;
                            width: 100%;
                        }
                    }

                    // padding: 20px;

                    .product_title {
                        color: $mainTextColor;
                        font-family: Poppins;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                        /* 116.667% */
                    }

                    .product_info {
                        margin-top: 10px;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        width: 480px;
                        line-height: 26px;
                        /* 185.714% */
                    }

                    .product_relase {
                        margin-top: 10px;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 26px;
                        /* 185.714% */
                        opacity: .8;
                    }

                }
            }

            .products_rightSide {
                padding: 0px;
                margin: 0px;

                .products_rightSide_items {
                    margin: 0px;
                    padding: 0px;

                    .product {
                        padding: 10px;

                        .product_photo {
                            img {
                                border-radius: 20px;
                            }
                        }

                        .product_relase {
                            margin-top: 10px;
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 26px;
                            /* 185.714% */
                            opacity: 0.8;

                        }

                        .product_title {
                            width: 263px;
                        }
                    }
                }
            }
        }

        .main_section_comments {
            .main_section_comments__title {
                position: relative;
                margin-top: 200px;
                color: $mainTextColor3;
                text-align: center;
                font-family: Poppins;
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                text-transform: capitalize;

                p {
                    position: absolute;
                    width: 280px;
                    left: 50%;
                    top: -30px;
                    transform: translate(-50%, -50%);
                }
            }

            .main_section_comments__info {
                margin-top: 80px;


                p {
                    color: #03014C;
                    /* text-align: center; */
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    line-height: 60px;
                    opacity: 0.5;
                    width: 900px;
                    transform: translate(10%, 50%);
                    text-align: center;
                    height: 214px;
                }
            }

            .main_section_comments__photos {

                .main_section_comments__photos_users {
                    text-align: center;
                    margin-top: 120px;

                    .user {
                        padding: 30px;
                    }

                    .users {
                        // padding: 10px;
                        border-radius: 86.111px;
                        background: url('/src/assets/img/Ellipse\ 33.svg');
                        width: 86.111px;
                        height: 86.111px;
                        flex-shrink: 0;
                        // stroke-width: 5px;
                        // stroke: var( #706FE5);
                    }
                }

                .user_name {
                    text-align: center;
                    // text-align: center;
                    color: $mainTextColor;
                    font-family: Poppins;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                    p {
                        color: $mainTextColor2;
                        text-align: center;
                        font-family: Poppins;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        opacity: .8;
                        padding: 5px;
                    }
                }
            }

        }

        .main_section_contact {
            .main_section_contact_leftSide {
                .contact_main__info {
                    color: $mainTextColor4 ;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px;
                    opacity: 0.75;
                    width: 457px;
                    /* 180% */
                }

                .contact_main__title {
                    color: $mainTextColor;

                    font-family: Poppins;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 52px;
                    /* 130% */
                    letter-spacing: 0.2px;
                    text-transform: capitalize;
                }

                .form-group {
                    position: relative;

                    img {
                        position: absolute;
                        top: 15px;
                        left: 25px;
                    }

                    input {
                        width: 460px;
                        height: 60px;
                        flex-shrink: 0;
                        // opacity: 0.1;
                        // background-color: $mainPinkColor;
                    }
                }
            }

            .contact_rightSide_items {

                .contact_item {
                    padding: 15px;

                    .contact_info {
                        color: $mainTextColor2;
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                        /* 175% */
                        opacity: 0.8;
                    }

                    .contact_title {
                        color: $mainTextColor;
                        font-family: Poppins;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 28px;
                        /* 140% */
                    }
                }
            }
        }

    }

}

#footer_main {
    // width: 1440px;
    height: 420px;
    flex-shrink: 0;
    background-color: $textColor;

    .footer-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 0px 80px 0px;

        .footer-items__links {

            .header_logo {
                color: $white;
                position: relative;

                .logo_item_pacpac {
                    position: absolute;
                    bottom: -10px;
                    left: -10px;
                }

                .logo_item_dot {
                    position: absolute;
                    bottom: 2px;
                    right: -7px;
                }
            }
        }

        .footer-items__menu {
            .footer_list {
                display: flex;
                margin: 0px;

                li {
                    list-style: none;
                    width: 48px;
                    height: 48px;
                    flex-shrink: 0;
                    border-radius: 2000px;
                    background-color: $mainPinkColor;
                    margin-left: 15px;

                    a {
                        padding: 11px;
                        font-size: 30px;
                        text-decoration: none;
                        color: $white;
                    }
                }
            }
        }
    }

    .footer_line {
        // margin-top: 40px;
        border-top: 1px solid $white;
    }

    .footer_company {
        color: $white;
        // font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 40px 0px 30px 0px;
    }

    .footer_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer_menu_links {
            display: flex;

            li {
                list-style: none;
                padding: 6px;

                a {
                    text-decoration: none;
                    color: $white;
                }
            }
        }

        .footer_contact {
            .btnForm_button {
                color: $white;
                background-color: $mainPinkColor;
                height: 40px;
                border-radius: 12px;
                box-shadow: none;
                padding: 6px 40px;
                text-align: center;
                border: none;

                p {
                    width: 100px;
                }
            }
        }
    }
}