@media(max-width:768px) {

    #navbar {
        position: relative;

        .navbar_item {
            position: absolute;
            top: 50%;
            left: 75%;
            transform: translate(-50%, -50%);

            .header_home_ul {
                .header_home_ul_item {
                    width: 68px;
                }
            }

        }
    }

    .main_section_digitalProducts {

        margin-top: 65px !important;

        .main_section_digitalProducts__leftSideItem {
            display: grid !important;
            grid-template-columns: repeat(1, 1fr);
        }

        .middleCollum {
            display: none !important;
        }

        .main_section_digitalProducts__rightSideItem {
            flex: none;
            width: 100%;
        }
    }

}