$mainPinkColor: #706FE5;
$mainTextColor: #1E1F4B;
$textColor: #2E3E5C;
$companiesBgColor: #706FE505;
$mainTextColor2: #2E3E5C;
$white: #fff;

.mine_container {
    margin-left: 110px;
    margin-right: 110px;
}